.imageList {
  list-style: none; /* Прибирає маркери списку */
  padding: 0;
  display: flex;
  gap: 10px; /* Проміжок між елементами списку */
  flex-wrap: wrap;
  margin-left: 250px;
}

.li {
  flex: 1; /* Кожен елемент списку займає рівну ширину */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(70, 85, 226);
}
.photoBox {
  width: 298px; /* Контейнер займає всю ширину елементу списку */
  height: 300px;
  padding-top: 75%; /* Співвідношення сторін 4:3 (можна змінити під свої потреби) */
  position: relative;
  overflow: hidden; /* Приховує частини зображення, які виходять за межі контейнера */
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабує зображення з збереженням пропорцій */
  transform: translate(-50%, -50%); /* Вирівнює по центру */
}
.overlay {
  position: absolute; /* Абсолютне позиціонування */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Прозорий фон за замовчуванням */
  transition: background-color 0.3s ease; /* Плавна зміна фону при наведенні */
}
.photoBox:hover .overlay {
  background-color: rgba(
    170,
    115,
    115,
    0.5
  ); /* Напівпрозорий чорний фон при наведенні */
}
.description {
  height: 50px;
}
.name {
  height: 50px;
}
