.div {
  padding: 10px;
  background-image: url("../../images/contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin: 0 auto;
}
.p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
  transition: transform 0.5s ease;
}
.p:hover {
  text-align: center;
  color: rgb(245, 241, 241);

  transform: translateY(20px);
}
